<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argus - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="bg-black text-white min-h-screen font-['Space_Grotesk']">

    <!-- Left glow -->
    <div
        class="fixed top-0 left-0 w-[600px] h-[800px] bg-[#A8A5FE] opacity-20 blur-[120px] -rotate-[79deg] -translate-x-64 -translate-y-32 z-0">
    </div>

    <!-- Right glow -->
    <div
        class="fixed top-0 right-0 w-[600px] h-[800px] bg-[#A8A5FE] opacity-20 blur-[120px] rotate-[79deg] translate-x-64 -translate-y-32 z-0">
    </div>

    <!-- Top center glow -->
    <div
        class="fixed top-0 left-1/2 w-[800px] h-[400px] bg-[#1A1894] opacity-60 blur-[120px] -translate-x-1/2 -translate-y-32 z-0">
    </div>

    <!-- Navbar -->
    <nav
        class="flex justify-between items-center px-8 md:px-8 py-2 bg-[#151515] rounded-xl mx-8 mt-4 sticky top-4 relative z-20">
        <h1 class="text-white font-semibold text-lg">Argus</h1>
        <div class="flex gap-3">
            <a href="/dashboard"
                class="bg-blue-600 py-2 px-4 rounded-lg text-sm hover:bg-transparent hover:border hover:border-white transition duration-300">Dashboard</a>
            <a href="/register "
                class="border border-white py-2 px-4 rounded-lg text-sm hover:bg-blue-600 hover:border hover:border-blue-600 transition duration-300">Register</a>
            <a href="/login"
                class="bg-blue-600 py-2 px-4 rounded-lg text-sm hover:bg-transparent hover:border hover:border-white transition duration-300">Login</a>
        </div>
    </nav>

    <!-- header -->
    <header class="text-center mt-16 px-4 relative z-10">
        <h2 class="text-5xl md:text-5xl font-bold text-white leading-tight">Your APIs Never Sleep.<br>Neither Does Argus.</h2>
        <p class="text-gray-400 mt-4 text-lg max-w-xl mx-auto leading-relaxed">Argus monitors your API endpoints 24/7,
            tracks response time and <br>shows live UP/DOWN status — all in
            one dashboard.</p>
    </header>

    <!-- Table -->
    <div
        class="mx-auto mt-16  max-w-4xl  p-6 overflow-x-auto relative z-1 bg-black/30 backdrop-blur-md border border-white/20 rounded-2xl">
        <table class="w-full text-sm text-left">
            <thead>
                <tr class="text-gray-400">
                    <th class="pb-3">Site Name</th>
                    <th class="pb-3">Site URL</th>
                    <th class="pb-3">Status code</th>
                    <th class="pb-3">Time elapsed</th>
                    <th class="pb-3"></th>
                    <th class="pb-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-gray-800 hover:bg-gray-800 transition">
                    <td class="py-3">Google</td>
                    <td class="py-3 text-gray-400">https://www.google.com/</td>
                    <td class="py-3"><span class="text-green-400">🟢 200</span></td>
                    <td class="py-3 text-gray-400">0.35</td>
                    <td class="py-3 text-red-400 cursor-pointer">Delete</td>
                    <td class="py-3 text-blue-400 cursor-pointer">Edit</td>
                </tr>
                <tr class="border-b border-gray-800 hover:bg-gray-800 transition">
                    <td class="py-3">GitHub API</td>
                    <td class="py-3 text-gray-400">api.github.com</td>
                    <td class="py-3"><span class="text-green-400">🟢 200</span></td>
                    <td class="py-3 text-gray-400">0.16</td>
                    <td class="py-3 text-red-400 cursor-pointer">Delete</td>
                    <td class="py-3 text-blue-400 cursor-pointer">Edit</td>
                </tr>
                <tr class="border-b border-gray-800 hover:bg-gray-800 transition">
                    <td class="py-3">My API</td>
                    <td class="py-3 text-gray-400">myapi.example.com</td>
                    <td class="py-3"><span class="text-red-400">🔴 403</span></td>
                    <td class="py-3 text-gray-400">0.54</td>
                    <td class="py-3 text-red-400 cursor-pointer">Delete</td>
                    <td class="py-3 text-blue-400 cursor-pointer">Edit</td>
                </tr>
                <tr class="border-b border-gray-800 hover:bg-gray-800 transition">
                    <td class="py-3">Database API</td>
                    <td class="py-3 text-gray-400">db.myapp.com</td>
                    <td class="py-3"><span class="text-red-400">🔴 502</span></td>
                    <td class="py-3 text-gray-400">0.25</td>
                    <td class="py-3 text-red-400 cursor-pointer">Delete</td>
                    <td class="py-3 text-blue-400 cursor-pointer">Edit</td>
                </tr>
                <tr class="border-b border-gray-800 hover:bg-gray-800 transition">
                    <td class="py-3">Auth Service</td>
                    <td class="py-3 text-gray-400">auth.myapp.com</td>
                    <td class="py-3"><span class="text-green-400">🟢 200</span></td>
                    <td class="py-3 text-gray-400">0.39</td>
                    <td class="py-3 text-red-400 cursor-pointer">Delete</td>
                    <td class="py-3 text-blue-400 cursor-pointer">Edit</td>
                </tr>
                <tr class="hover:bg-gray-800 transition">
                    <td class="py-3">Payment API</td>
                    <td class="py-3 text-gray-400">pay.myapp.com</td>
                    <td class="py-3"><span class="text-red-400">🔴 404</span></td>
                    <td class="py-3 text-gray-400">0.41</td>
                    <td class="py-3 text-red-400 cursor-pointer">Delete</td>
                    <td class="py-3 text-blue-400 cursor-pointer">Edit</td>
                </tr>
            </tbody>

        </table>
    </div>

    <!-- black cloud -->
    <div class="relative w-full h-48 -mt-24">
        <div class="absolute inset-0 bg-black blur-[100px]"></div>
        <div class="absolute inset-0 bg-black blur-[80px]"></div>
    </div>

    <!-- Features -->
    <div class="features flex justify-center gap-8 mt-[150px] px-8 relative z-10 md:flex-row">
        <div class=" border border-white/20 bg-black/30  backdrop-blur-md rounded-2xl p-6 md:w-64">
            <h4 class="text-white font-semibold text-lg">⚡ Auto Pinging</h4>
            <p class="text-gray-400 mt-2 text-sm">Pings every 5 minutes</p>
        </div>

        <div class="border border-white/20 bg-black/30  rounded-2xl p-6 md:w-64">
            <h4 class="text-white font-semibold text-lg">🟢 Live Status</h4>
            <p class="text-gray-400 mt-2 text-sm">See UP / DOWN status instantly</p>
        </div>
        <div class="border border-white/20 bg-black/30  rounded-2xl p-6 md:w-64">
            <h4 class="text-white font-semibold text-lg">📊 Response Time</h4>
            <p class="text-gray-400 mt-2 text-sm">Track response latency trends</p>
        </div>
    </div>

    <!-- get-started -->
    <div
        class="flex justify-center items-center bg-blue-600 py-2 px-2 mx-auto mt-[50px] w-64 rounded-lg hover:bg-[#0E0E2C] transition duration 300 relative z-10">
        <a href="/register">Get Started</a>
    </div>

    <!-- Footer -->
    <footer class="mt-[100px] px-16 py-12 relative z-10">
        <div class="flex flex-col md:flex-row justify-between gap-8">
            <div>
                <h4 class="text-white font-bold text-lg">Argus</h4>
                <p class="text-gray-400 text-sm mt-1">Your silent API guardian.</p>
                <div class="flex flex-col mt-4 gap-2">
                    <a href="/register" class="text-gray-400 hover:text-white text-sm transition">Register</a>
                    <a href="/login" class="text-gray-400 hover:text-white text-sm transition">Login</a>
                </div>
            </div>

            <div class="text-right">
                <h4 class="text-white font-semibold text-sm">Designed and Developed by</h4>
                <p class="text-white font-bold mt-1">Shri Harshan M</p>
                <p class="text-gray-400 text-sm mt-1">Python • Flask • PostgreSQL • Tailwind CSS</p>
                <div class="flex gap-3 mt-3 justify-end">
                    <a href="https://github.com/harshanrepo">
                        <img width="24" height="24" src="https://img.icons8.com/sf-black/64/github.png" alt="github"
                            class="invert" />
                    </a>
                    <a href="https://www.linkedin.com/in/mrshri-harshan/">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/48/linkedin.png"
                            alt="linkedin" />
                    </a>
                </div>
            </div>
        </div>

        <div class="border-t border-gray-700 mt-8 pt-6 text-center">
            <p class="text-gray-400 text-sm">© 2026 Argus. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>